<div class="col-md-6">
	<div id="answer-div">
		<div id="form-content">
			<div class="step-header text-center">Step 1 : Select your shape</div>
			<div class="step-description text-left">Please select the shape that you would like to calculate the area of and press the button "Go to step 2"</div>
			<div class="options">
				<ul>
					<li>
						<input type="radio" name="question-options" value="rectangle" id="r1" checked="checked">
						<label for="r1">Rectangle</label>
					</li>
					<li>
						<input type="radio" name="question-options" value="circle" id="r2">
						<label for="r2">Circle</label>
					</li>
					<li>
						<input type="radio" name="question-options" value="square" id="r3">
						<label for="r3">Square</label>
					</li>
					<li>
						<input type="radio" name="question-options" value="ellipse" id="r4">
						<label for="r4">Ellipse</label>
					</li>
				</ul>
			</div>
			<div class="submission">
				<input type="button" class="btn-primary" value="Go to next step" id="submit_answer"/> &nbsp; or &nbsp; <span id="reset"><u>Cancel</u> </span>
			</div>
		</div>
	</div>
</div>